body, * {
    padding              : 0;
    margin               : 0;
    box-sizing           : border-box;
    font-family          : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    color                : white;
    text-align           : center;
}

.App {
    width                : 100vw;
    height               : 100vh;
    background           : url('../Assets/Picture/hiver.jpg');
    background-size      : cover;
    background-position  : bottom;
    transition           : .4 ease-out;
}

.App.ete {
    width                : 100vw;
    height               : 100vh;
    background           : url('../Assets/Picture/ete.jpg');
    background-size      : cover;
    background-position  : bottom;
    transition           : .4 ease-out;
}

main {
    min-height           : 100vh;
    background-image     : linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .3));
}

.recherche {
    width                : 100%;
    margin               : 0rem auto;
}

.recherche .recherche-bar {
    margin-top           : .5rem;
    padding              : 5px 0 7px 0;
    width                : 100%;
    border-top           : 1px solid rgba(0, 0, 0, 0);
    border-left          : 1px solid rgba(0, 0, 0, 0);
    border-right         : 1px solid rgba(0, 0, 0, 0);
    border-bottom        : 2px solid rgb(255, 255, 255);
    border-radius        : 0 0 15px 15px;
    box-shadow           : 0px 10px 15px -15px black;
    outline              : none;
    background-color     : rgba(255, 255, 255, 0.2);
    letter-spacing       : 1px;
    font-size            : 22px;
    appearance           : none;
    transition           : .4 ease;
    /* text-transform    : uppercase; */
}

.recherche-bar::placeholder {
    color                : white;
    text-shadow          : 1px 2px 2px rgba(0, 0, 0, 0.808);
}

.recherche-bar:focus {
    background-color     : rgba(255, 255, 255, 0.28);
    text-shadow          : 1px 2px 2px rgba(0, 0, 0, 0.808);
    box-shadow           : 0px 10px 15px -13px black;
    transition           : .4 ease-out;
}

.location-container, .meteo-container {
    margin               : 6rem 2rem 0 2rem;
}

.location, .date, .temperature, .meteo {
    margin               : 1rem 0 0 0;
}

.location {
    font-size            : 23px;
    font-weight          : 500;
    text-shadow          : 3px 3px rgba(50, 50, 70, .1);
    text-transform       : uppercase;
}

.date {
    font-size            : 18px;
    text-shadow          : 1.5px 1.5px rgba(50, 50, 70, .1);
    font-style           : italic;
}

.temperature {
    font-size            : 100px;
    background-color     : rgba(255, 255, 255, .2);
    border-radius        : 18px;
    padding              : 50px 25px;
    text-shadow          : 3px 6px rgba(50, 50, 70, .5);
    font-weight          : 700;
    box-shadow           : 5px 5px rgba(0, 0, 0, .15);
}

.meteo {
    font-style           : oblique;
    text-shadow          : 1.5px 1.5px rgba(50, 50, 70, .1);
    text-transform       : uppercase;
    font-weight          : 900;
}

.meteo::before {
    content              : '';
    display              : block;
    margin               : 2.5rem auto;
    width                : 90%;
    height               : 1px;
    background-color     : white;
}

.meteo p {
    background-color     : rgba(255, 255, 255, 0.25);
    border-radius        : 8px;
    border               : 2px solid rgba(255, 255, 255, 0.288);
    padding              : 10px 0px;
    text-shadow          : 3px 3px rgba(50, 50, 70, .35);
}